language: android

jdk: oraclejdk8

sudo: required

install:
  - pip install --user 'requests[security]'
  - wget -r -nH -nd -np -R index.html* robots.txt* http://download.kiwix.org/dev/android/api/licenses/ -e robots=off -P $ANDROID_HOME/licenses || true

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-27.0.3
    - android-27

licenses:
  - '.+'

script: ./gradlew assembleKiwixDebug 
after_success:
    - ls $TRAVIS_BUILD_DIR/
    - find $TRAVIS_BUILD_DIR/ -type f -name "*.apk"
    - curl -sL monkop.com/cli | python - -k $monkopapikey -v -w -t 15 -a "$TRAVIS_BUILD_DIR/app/build/outputs/apk/kiwix/debug/app-kiwix-debug.apk"
    # -st ESPRESSO -sf TESTP_APK

